body {
    background-color: #eee;
}
/* Your code here */
.wrapper {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
   }
th{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table, td {
    border-bottom: 1px solid #cdcdcd;
    border-collapse: collapse;
    padding: 5px;
}
.incorrect{
    color:red;
}
.correct{
    color:blue;
}
.del{
    margin-left: 8px;
}

